body {
    background: cadetblue;
}

h3 {
    color: darkgrey;
}
h1 {
    color: burlywood;
}
body {
    height:100%;
    width:100%;
    margin:0;padding:0;
    overflow:hidden;
}
.form-group{
    margin: auto;
    width: 50%;
    display: inline-flex;
}
#date {
    width:80%
}
#time {
    width:20%
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding:30px;
}
.product-card {
    margin-right: 30px;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex; /* so child elements can use flexbox stuff too! */

}
.product-card:hover{
    background: white;
}
.product-image img {
    max-width: 50%;
}
.product-info {
    margin-top: auto;
}
.products .product-card:first-child,
.products .product-card:nth-child(2) {
    flex: 2 46%;
}
input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.site-wrapper-inner {
    display: block;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
.btn {
    margin:30px;
    width: 10%;
}
#wrapper {
    width:100%;
    height:100%;
    background-color:cadetblue;
    overflow:hidden;
}

#mask {
    width:500%;
    height:100%;
    background-color:cadetblue;
}

.item {
    width:20%;
    height:100%;
    float:left;
    background-color:cadetblue;
}


.content {
    height:400px;
    top:20%;
    margin:0 auto;
    position:relative;
}


.clear {
    clear:both;
}

div.datedropper.app {
    border-radius: 6px;
    width: 166px;
}
div.datedropper.app .picker {
    border-radius: 6px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.1);
}
div.datedropper.app .pick-l {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
div.datedropper.app:before,
div.datedropper.app .pick-submit,
div.datedropper.app .pick-lg-b .pick-sl:before,
div.datedropper.app .pick-m,
div.datedropper.app .pick-lg-h {
    background-color: #A0785F;
}
div.datedropper.app .pick-y.pick-jump,
div.datedropper.app .pick li span,
div.datedropper.app .pick-lg-b .pick-wke,
div.datedropper.app .pick-btn {
    color: #A0785F;
}
div.datedropper.app .picker,
div.datedropper.app .pick-l {
    background-color: #FFF;
}
div.datedropper.app .picker,
div.datedropper.app .pick-arw,
div.datedropper.app .pick-l {
    color: #4D4D4D;
}
div.datedropper.app .pick-m,
div.datedropper.app .pick-m .pick-arw,
div.datedropper.app .pick-lg-h,
div.datedropper.app .pick-lg-b .pick-sl,
div.datedropper.app .pick-submit {
    color: #FFF;
}
div.datedropper.app.picker-tiny:before,
div.datedropper.app.picker-tiny .pick-m {
    background-color: #FFF;
}
div.datedropper.app.picker-tiny .pick-m,
div.datedropper.app.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D;
}
div.datedropper.app.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D;
}
